<?xml version="1.0"?>
<!--
/**
 * @package    Leytech_CssJsVersion
 * @author     Chris Nolan (chris@leytech.co.uk)
 * @copyright  Copyright (c) 2017 Leytech
 * @license    https://opensource.org/licenses/MIT  The MIT License  (MIT)
 */
-->
<config>
    <modules>
        <Leytech_CssJsVersion>
            <version>1.0.1</version>
        </Leytech_CssJsVersion>
    </modules>
    <global>
        <models>
            <leytech_cssjsversion>
                <class>Leytech_CssJsVersion_Model</class>
            </leytech_cssjsversion>
        </models>
        <helpers>
            <leytech_cssjsversion>
                <class>Leytech_CssJsVersion_Helper</class>
            </leytech_cssjsversion>
        </helpers>
        <events>
            <adminhtml_cache_refresh_type>
                <observers>
                    <leytech_cssjsversion_cache_type>
                        <type>singleton</type>
                        <class>Leytech_CssJsVersion_Model_Observer</class>
                        <method>updateVersion</method>
                    </leytech_cssjsversion_cache_type>
                </observers>
            </adminhtml_cache_refresh_type>
            <adminhtml_cache_flush_system>
                <observers>
                    <leytech_cssjsversion_cache_system>
                        <type>singleton</type>
                        <class>Leytech_CssJsVersion_Model_Observer</class>
                        <method>updateVersion</method>
                    </leytech_cssjsversion_cache_system>
                </observers>
            </adminhtml_cache_flush_system>
            <adminhtml_cache_flush_all>
                <observers>
                    <leytech_cssjsversion_cache_all>
                        <type>singleton</type>
                        <class>Leytech_CssJsVersion_Model_Observer</class>
                        <method>updateVersion</method>
                    </leytech_cssjsversion_cache_all>
                </observers>
            </adminhtml_cache_flush_all>
        </events>
    </global>
    <frontend>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <leytech_cssjsversion_block>
                        <type>singleton</type>
                        <class>Leytech_CssJsVersion_Model_Observer</class>
                        <method>processBlockHtml</method>
                    </leytech_cssjsversion_block>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </frontend>
    <default>
        <leytech_cssjsversion>
            <settings>
                <enable_ext>0</enable_ext>
                <auto_update>1</auto_update>
                <append_version></append_version>
            </settings>
        </leytech_cssjsversion>
    </default>
</config>